body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  text-align: center;
}
h1 {
  color: #66BFBF;
}

button {
  color: #216353;
}

.img-gradient{
  position:relative;
  display:inline-block;
}

td {
  border:  2px solid #10375c;
  height:  100px;
  width:  100px;
  text-align:  center;
  vertical-align:  middle;
  font-family:  "Comic Sans MS", cursive, sans-serif;
  font-size:  70px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  position:   absolute;
  left: 50%;
  margin-left: -155px;
  top: 50px;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}

.endgame {
  display: none;
  width:  200px;
  top: 120px;
  background-color: #18b0b0;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em; 
}

.selectSym{
  display: none;
  width: 220px;
  top: 110px;
  background-color: #18b0b0;
  position: absolute;
  left: 50%;
  margin-left: -110px;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: #363062;
  font-size: 2em; 
}

.selectSym button{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:  50px;
  width: 70px;
}

.selectSym  button:first-of-type {
  margin-right: 10px;
}
.selectSym  button:last-of-type {
  margin-left: 10px;
}

